:root {
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-gray:  #A9A9A9;
  --basic-white: #ffffff;
  --basic-blue:  #81B3D2;
  --basic-brown: #766357;
  --basic-light: #EEEEEE;
  --special-gray: #F2F2F2;
  --special-dark-gray: #EBEBEB;
  --special-brown: #604E43;
  --special-dark-brown: #503E33;
  --special-blue: #669EC0;
  --special-dark-blue: #5496BD;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header-logo {
  position: absolute;
  top: 0;
  width: 136px;
  height: 69px;
}

.main-logo {
  width: 136px;
}

h1 {
  display: none;
}
/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight:700;
  color: var(--basic-black);

}

.site-navigation {
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  min-height: 56px;
  padding: 0;
  margin: 0px 70px 0px 70px;
}

/* User navigation */

.site-navigation a {
  color:var(--basic-black)
}

.site-navigation a:hover {
  color:var(--basic-blue)
}

.site-navigation a:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.background-logo {
  background: url("../img/background-photo.jpg") no-repeat center;
  width: 100%;
  height: 510px;
  background-size: cover;
  text-align: center;
}

.background-logo img {
  margin-top: 77px;
}

.headline {
  align-items: center;
  text-align: center;
}

.headline img {
  padding-top: 77px;
}

.headline p {
  color:var(--basic-light-black);
  line-height: 26px;
  margin-right: 340px;
  margin-left: 340px;
  padding-top: 35px;
  padding-bottom: 45px;
}

.headline h2 {
  margin-top: 42px;
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  padding-right: 365px;
  padding-left: 365px;
}

.site-navigation .main-header-logo:active {
  opacity:unset;
}

/* Features */

.container-features {
  display: flex;
  margin-bottom: -15px;
  margin-top: 0px;
}

.container-features-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -7px;
}

.features-city {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  width: 400px;
  height: 256px;
}

.title {
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  margin: 0;
  padding: 47px 139px 25px 139px;
}

.number {
  margin: 0;
}

.text {
  margin: 0;
  padding: 23px 52px 54px 51px;
}

.title-reverse  {
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  max-height: 43px;
  margin: 0;
  padding: 50px 123px 25px 126px;
}

.text-reverse {
  margin: 0;
  padding: 23px 50px 51px 49px;
}

.features {
  background-color:var(--basic-light);
  min-height: 256px;
}

.features .number{
  color:var(--basic-light-black);
  margin: 0;
}

.features h2 {
  display: none;
}

.features-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-item {
  text-align: center;
  width: 400px;
}

.text-features {
  margin: 0;
  padding: 23px 60px 54px 70px;
}

.title-features {
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  margin: 0;
  padding: 47px 140px 25px 140px;
}

.recommend-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  min-height: 330px;
  color:var(--basic-light-black);
}
 
.recommend-item {
  text-align: center;;
}

.recommend-item p {
  padding-left: 58px;
  padding-right: 55px;
}

.recommend-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color:var(--basic-black);
}

/*form-find*/

.caption {
  font-size: 30px;
  line-height: 24px;
  font-weight:700;
  text-align: center;
  margin-top: 58px;
}

.caption-text {
  text-align: center;
  color:var(--basic-light-black);
  margin-bottom: 45px;
}

.button-open {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  text-transform: inherit;
  color:var(--basic-white);
  background-color:var(--basic-brown);
  border: none;
  padding: 30px 125px 30px 124px;
}

.button-open:hover {
  background-color:var(--special-brown);
}

.button-open:active {
  background-color:var(--special-dark-brown);
}

.button-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: inherit;
  color:var(--basic-white);
  background-color:var(--basic-blue);
  border: none;
  padding: 16px 182px 16px 181px;
}

.button-search:hover {
  background-color: var(--special-blue);
}

.button-search:active {
  background-color: var(--special-dark-blue);
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight:700;
  text-transform:inherit;
}

.search-item input {
  font: inherit;
  background-color:var(--special-gray);
  border:none;
}

.search-item input:hover {
  background-color:var(--special-dark-gray);
}

.search-item input:focus {
  background-color:var(--basic-white);
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

/*catalog*/

legend {
  font-weight: 700;
}

.filters {
  font: inherit;
  color:var(--basic-white);
  background-image:url(../img/background-filter.jpg);
  background-position: center;
  background-size: cover;
}

.filter {
  display: flex;
  min-height: 217px;
  justify-content: space-between;
}

.day-price {
  width: 400px;
  margin-left: 330px;
}

.filter ul {
  list-style: none;
}

.filter-button {
  color:inherit;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
  padding: 7px 35px 8px 36px;
}

.filter-button:hover {
  color:black;
  background-color:white;
}

.find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 70px;
  margin-right: 46px;
}

.sorting {
  list-style: none;
  display: flex;
}

.find-and-sorting {
  display: flex;
  align-items: center;
}

.nav-sort {
  display: flex;
}

.plus-and-minus {
  margin-right: 70px;
  margin-left: auto;
}

.sorting-item button {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
  background: transparent;
  border:none;
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-item button:hover,
.sorting-item button:focus {
  color:var(--basic-blue);
  opacity:unset;
}

.sorting-item button:active {
  color:var(--basic-black);
  opacity:unset;
}

.hotels h2 {
  display: none;
}

.hotels ul {
  list-style: none;
  padding: 0;
}

.hotels-item {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 29px 70px 29px 70px;
}

.hotels-info h3 {
  font-size: 21px;
  color:var(--basic-black);
  margin-bottom: 0px;
  margin-top: 0px;
}

.hotels-info h3:hover {
  color:var(--basic-blue);
}

.hotels-info h3:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.main-info {
  margin-left: 29px;
  margin-top: 0px;
}

.more-info {
  color:var(--basic-white);
  background-color:var(--basic-blue);
  font-weight: 700;
  padding: 3px 16px 3px 17px;
} 

.main-info p {
  margin-top: 7px;
  display: inline-block;
  min-width: 130px;
}
 
.more-info:hover {
  background-color:var(--special-blue)
}

.more-info:active {
  background-color:var(--special-dark-blue);
}

.hotels-item button {
  font: inherit;
  text-transform: uppercase;
  font-weight: 700;
  color:var(--basic-white);
  background-color:var(--basic-brown);
  border: none;
  padding: 3px 16px 3px 17px;
}

.hotels-item button:hover {
  background-color:var(--special-brown);
}

.hotels-item button:active {
  background-color:var(--special-dark-brown)
}

.rating img {
  display: flex;
  margin-left: auto;
}

.rating p {
  color: #666666;
  background-color:var(--special-gray);
  margin-top: 47px;
  padding: 3px 12px 3px 15px;
}

/*footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  margin: 0 auto;
  background-color:rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.footer-contacts {
  margin-top: 23px;
}

.footer-social {
justify-self: center;
}

.contacts-info, 
.contacts-phone {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  color:var(--basic-black);
}

.social-list {
  display: flex;
  width: 150px;
  justify-content: space-between;
  list-style: none;
}

 .footer-copyright {
  display: flex;
  font:inherit;
  justify-self: center;
  align-items: center;
  line-height: 26px;
  margin-top: 38px;
 }

 .footer-copyright p{
   margin-right: 8px;
 }

